.fetched-header h1 {
  font-family: "Sequel Sans", "Gotham Medium";
  color: white;
  text-align: center;
  margin-top: 5rem;
  font-size: 60px;
}

.profile-image {
  display: block;
  margin: 0.5rem auto 0 auto;
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

hr {
  height: 12px;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.playlists > div {
  width: 300px;
  height: 300px;
  margin: 30px;
}

.playlists > div > img {
  height: 300px;
  transition: transform 0.3s ease-in-out;
}

.playlists > div > img:hover {
  transform: scale(1.02) translateY(-5px);
}

h2 {
  font-family: "Sequel Sans", "Gotham Medium";
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-size: 45px;
}

.playlists-text {
  font-family: "Sequel Sans", "Gotham Medium";
  color: white;
  text-align: center;
}

.playlists-check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30rem;
}

.dropdown {
  font-family: "Gotham Medium";
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-toggle {
  border-radius: 99px;
  padding: 20px;
}

.dropdown-menu {
  background: black;
  color: white;
}

.dropdown-item {
  color: white;
  transition: transform 0.1s ease-in-out;
}

.dropdown-item:hover {
  transform: scale(1.02);
}

.youtube {
  padding: 20px;
  border-radius: 99px;
  background: #ff0000;
  color: white;
  font-family: "Gotham Medium";
}

.youtube a {
  color: white;
}
