@font-face {
  font-family: "Gotham Medium";
  src: url("../Styles/Gotham-Medium.otf") format("opentype");
}

.spotify-btn {
  font-family: "Gotham Medium";
  color: white;
  text-decoration: none;
  border-radius: 99px;
  padding: 20px;
}

.spotify-login {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
