html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Worksans";
  src: url("../Styles/WorkSans-Black.ttf");
}
@font-face {
  font-family: "Sequel Sans";
  src: url("../Styles/Sequel\ Sans\ Black\ Disp.otf");
}

#header-1 {
  font-family: "Sequel Sans", "Roboto Mono", "Worksans", "Source Sans Pro",
    "Odibee Sans", "Raleway", "Courier New", Courier, monospace;
  font-size: 70px;
  word-spacing: 0.1px;
  margin-top: -1rem;
  padding-top: 30px;
  color: white;
  text-align: center;
}

#header-2 {
  font-family: "Sequel Sans", "Roboto Mono", "Worksans", "Source Sans Pro",
    "Odibee Sans", "Raleway", "Courier New", Courier, monospace;
  font-size: 30px;
  word-spacing: 0.1px;
  padding-top: 30px;
  color: white;
  margin-top: -2rem;
  text-align: center;
}
.landing {
  margin-top: 0;
  height: 100vh;
  opacity: 1;
  background-image: url("../Images/banner.jpg");
}
@keyframes AnimationName {
  0% {
    background-position: 0% 39%;
  }
  50% {
    background-position: 100% 62%;
  }
  100% {
    background-position: 0% 39%;
  }
}

.start-btn {
  background: #125fdb;
  border-radius: 10px;
}

.start-btn a {
  color: white;
}

.start-btn a:hover,
.start-btn a:visited {
  color: white;
}
