html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Worksans";
  src: url("../Styles/WorkSans-Black.ttf");
}
@font-face {
  font-family: "Sequel Sans";
  src: url("../Styles/Sequel\ Sans\ Black\ Disp.otf");
}

#header-1 {
  font-family: "Sequel Sans", "Roboto Mono", "Worksans", "Source Sans Pro",
    "Odibee Sans", "Raleway", "Courier New", Courier, monospace;
  font-size: 70px;
  word-spacing: 0.1px;
  margin-top: -1rem;
  padding-top: 30px;
  color: white;
  text-align: center;
}

#header-2 {
  font-family: "Sequel Sans", "Roboto Mono", "Worksans", "Source Sans Pro",
    "Odibee Sans", "Raleway", "Courier New", Courier, monospace;
  font-size: 30px;
  word-spacing: 0.1px;
  padding-top: 30px;
  color: white;
  margin-top: -2rem;
  text-align: center;
}
.landing {
  margin-top: 0;
  height: 100vh;
  opacity: 1;
  background-image: url("../Images/banner.jpg");
}
@keyframes AnimationName {
  0% {
    background-position: 0% 39%;
  }
  50% {
    background-position: 100% 62%;
  }
  100% {
    background-position: 0% 39%;
  }
}

.section-two {
  background: white;
  height: 100vh;
}

.learnMore-btn {
  border-radius: 20px;
  margin-left: 45%;
  margin-top: 10vh;
  background: black;
  transition: transform 0.3s;
  box-shadow: 0 6px 6px rgba(103, 138, 100, 0.2);
}

.learnMore-btn a {
  width: max-content;
  font-size: 32px;
  font-family: "Raleway", "Sequel Sans", "Worksans";
  color: white;
}

.learnMore-btn a:visited {
  color: white;
}

.learnMore-btn:focus {
  outline: none;
}

.learnMore-btn:hover {
  cursor: pointer;
  transform: translateY(-7px) scale(1.1);
}

.learnMore-btn a:hover {
  color: white;
}

@media screen and (max-width: 800px) {
  .learnMore-btn {
    margin-left: 35%;
  }
}

@media screen and (max-width: 450px) {
  .learnMore-btn {
    margin-left: 25%;
    margin-top: 72vh;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.flex-container > div {
  margin-left: 40%;
  background: white;
  color: black;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}
